@page "/counter"
@rendermode InteractiveServer
@inject ISnackbar Snackbar
@using MudBlazor
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<p role="status">Current string: @currentCountstring</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>




@code {
    private int currentCount = 0;
    private string currentCountstring = "";

    private void IncrementCount()
    {
        currentCount++;
    }

}
