@page "/"
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager Navigation
@using ForFIll.Models;
@inject ISnackbar Snackbar


@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor
@rendermode InteractiveServer



<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <MudText Typo="Typo.h6">Welcome, @context.User.Identity.Name!</MudText>
            <MudButton OnClick="NavigateToLogout" Variant="Variant.Filled" Color="Color.Primary">Logout</MudButton>
        </Authorized>
        <NotAuthorized>
            <MudText Typo="Typo.h6">You are not authorized to view this page. Please.
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="NavigateToLogin">Signin</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="NavigateToLSignup">Register</MudButton>
                </MudText>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>



@code {
   

    private void NavigateToLogin()
    {
        Navigation.NavigateTo("/loginform");

    }
    private void NavigateToLogout()
    {
        Snackbar.Add("logout Done Successflly", Severity.Success);
        Navigation.NavigateTo("/logout");

    }
    private void NavigateToLSignup()
    {
        Navigation.NavigateTo("/signup");

    }
}